<template lang="html">
  <div class="flex-column" style="padding: 10px;">
    <div class="flex-row">
      <div class="imgPlaceholder">
        Image
      </div>
      <div class="flex-column">
        <h2>{{ project.title }}</h2>
        <div class="flex-row">
          <span v-if="project.status === 1" class>В разрабтке</span>
          <span v-else-if="project.status === 2">Приостановлен</span>
          <span v-else-if="project.status === 3">Завершен</span>
          Сложность: <span v-for="n in 3" :key="n" class="bar">{{ }} </span>
        </div>
        <div>
          {{ date_start.toLocaleDateString() }}
        </div>
        <div>
          Последнее изменение по проекту: {{ lastChanged }}
        </div>
      </div>
    </div>
    <div class="flex-row cards">
      <div class="about-card col-2 flex-column">
        <div class="about-card-title">
          Коменда проекта
        </div>
      </div>
      <div class="about-card col-2 flex-column">
        <div class="about-card-title">
          Доступные файлы
        </div>
      </div>
      <div class="about-card col-2 flex-column">
        <div class="about-card-title">
          Ресурсы проекта
        </div>
      </div>
      <div class="about-card col-2 flex-column">
        <div class="about-card-title">
          Сторонние ресурсы
        </div>
      </div>
      <div class="about-card col-2 flex-column">
        <div class="about-card-title">
          Ключевые слова
        </div>
      </div>
    </div>
    <div>
      <div class="project-filters">
        <div class="filters">
          <span>Описание проекта</span>
          <span>Текущий этап</span>
          <span>Планы и перспективы</span>
          <span>Доступные публикации</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      complexity: 3
    }
  },
  layout: 'olimp',
  computed: {
    ...mapGetters({ projects: 'project/getProjects' }),
    project () {
      return this.projects.find(a => a.id_project.toString() === this.$route.params.id)
    },
    date_start () {
      return new Date(this.project.dt_start)
    },
    lastChanged () {
      return new Date(this.project.last_changed)
    }
  },
  async fetch ({ store, from }) {
    if (from.name !== 'project') {
      await store.dispatch('project/loadData')
    }
  }
}
</script>

<style lang="css">
.imgPlaceholder {
  width: 213px;
  height: 213px;
  background-color: lightgray;
}
.bar {
  width: 8px;
  height: 16px;
  border-radius: 2px;
  background: #502DE2;
  margin: 1px;
}
.about-card {
  border: 2px solid #B9B9EF;
  width: 200px;
  border-radius: 8px;
}
.cards {
  justify-content: space-between;
  height: 200px;
}
.about-card-title {
  padding: 9px;
  background-color:  #F2EFFA;
  font-size: 18px;
  font-weight: bold;
}
</style>
