<template lang="html">
  <div class="main_waves">
    <div class="main">
      <div class="title">
        Регистрация
      </div>
      <div class="comment_title">
        Пожалуйста, введите свои данные.
      </div>
      <form id="button_registration" class="column_1_2">
        <div class="column_1">
          <div class="title_input_input">
            <div class="title_input">
              Логин
            </div>
            <input type="text" placeholder="Александрочив" required>
          </div>
          <div class="title_input_input">
            <div class="title_input_info">
              <div class="title_input">
                Пароль
              </div>
              <img src="images/answer.svg" alt="" class="info">
            </div>
            <input type="password" class="logo_password">
          </div>
          <div class="title_input_info">
            <div class="title_input">
              Повторите пароль
            </div>
            <img src="images/answer.svg" alt="" class="info">
          </div>
          <input type="password" class="logo_password">
        </div>
        <div class="column_2">
          <div class="title_input_input">
            <div class="title_input">
              Почта
            </div>
            <input type="text" placeholder="example@mail.ru">
          </div>
          <div class="title_input_input">
            <div class="title_input_info">
              <div class="title_input">
                Имя
              </div>
              <img src="images/answer.svg" alt="" class="info">
            </div>
            <input type="text" class="logo_password" placeholder="Александр">
          </div>
          <div class="title_input_info">
            <div class="title_input">
              Фамилия
            </div>
            <img src="images/answer.svg" alt="" class="info">
          </div>
          <input type="text" class="logo_password" placeholder="Петров">
        </div>
      </form>
      <div class="column_3">
        <!-- id -->
        <button id="reg" form="button_regisitration">
          Зарегистрироваться
        </button>
        <button id="login">
          Войти
        </button>
        <div class="text">
          Зарегистрироваться с помощью
        </div>
        <div class="images_buttons">
          <!-- Закрывать пустой атрибут вторым не нужно-->
          <a href="#" class="image_1" />
          <a href="#" class="image_2" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'auth'
}
</script>
