/* eslint-disable */
<template>
  <div>
    <div class="calendar">
      <header class="calendar__header">
        <button v-if="tpViewDay" class="button-modified">
          Сегодня
        </button>
        <select id="viewType" v-model="viewType" name="viewType" class="select viewCalendarSelect">
          <option value="day">
            День
          </option>
          <option value="week">
            Неделя
          </option>
          <option selected value="month">
            Месяц
          </option>
        </select>
      </header>

      <main class="calendar__wrapper">
        <CalendarDay
          v-if="tpViewDay"
          :arr-of-event-tags="arrOfEventTags"
        />
        <CalendarMonth
          v-if="tpViewMonth || tpViewWeek"
          :name-class="nameClass"
          :tp-view-month="tpViewMonth"
          :tp-view-week="tpViewWeek"
          :is-visible-tag="isVisibleTag"
        />
        <!-- <EventCard /> -->
      </main>
    </div>
    <InputEvent
      :week-changer="weekChanger"
      :view-type="viewType"
      :date="[]"
      :selected-date="selectedDate"
      :click="click"
      @addTag="addTag"
    />
    <!-- Обработчик addTag -->
  </div>
</template>

<script>
// import axios from 'axios'
// import EventTag from '~/components/EventTag.vue'
// import { mapGetters } from 'vuex'
import InputEvent from '~/components/InputEvent.vue'
import CalendarDay from '~/components/CalendarDay.vue'
// import EventCard from '~/components/EventCard.vue'
import CalendarMonth from '~/components/CalendarMonth.vue'

export default {
  layout: 'olimp',
  components: { InputEvent, CalendarMonth, CalendarDay },
  props: {
    date: {
      arrOfEvent: Array
    }
  },
  async fetch () {
    const tmStart = '2021-09-03'
    const tmEnd = '2021-09-21'
    const restApi = 'http://localhost:5000/api/shedule/activity/' + tmStart + '/' + tmEnd
    this.arrOfEventTags = await this.$axios.get(restApi).then(function (response) {
      // console.log(response.data.items)
      const data = []
      response.data.items.forEach((element) => {
        // console.log(element)
        const msg = `${element.timeEnd}${element.name}`

        const obj = {
          content: msg,
          data: new Date(),
          name: element.name,
          id_classroom: element.id_classroom,
          timeStart: element.tm_end,
          timeEnd: element.tm_start
        }
        data.push(obj)
      })
      return data
    })
    console.log(this.arrOfEventTags)
  },

  // components: { InputEvent, monthCalendar },
  data () {
    return {
      nameClass: 'calendar',
      viewType: 'month',
      isVisibleTag: true,
      tpViewMonth: true,
      tpViewWeek: false,
      tpViewDay: false,
      click: 0,
      selectedDate: '',
      arrOfEventTags: []
    }
  },

  computed: {
    getEvens () {
      return this.$store.state.evens
    }
  },

  watch: {
    arrOfEventTags (prop) {
      console.log('EvenTag changed')
      /* console.log(`${this.date[0]}.${this.date[1]+1}.${this.date[2]}`);
            console.log(prop[0].data); */
      // this.refreshTags()
      this.$root.$emit('addTag', this.arrOfEventTags)
    },

    viewType (prop) {
      if (prop === 'week') {
        this.tpViewWeek = true
        this.tpViewMonth = false
        this.tpViewDay = false
      }
      if (prop === 'month') {
        this.tpViewWeek = false
        this.tpViewMonth = true
        this.tpViewDay = false
      }
      if (prop === 'day') {
        this.tpViewWeek = false
        this.tpViewMonth = false
        this.tpViewDay = true
      }
    }
  },
  mounted () {
    this.$nextTick(function () {
    // Код, который будет запущен только после
    // отрисовки всех представлений

      console.log('отрисованы все представления')
      console.log(this.getEvens)
    })

    const cell = document.getElementsByClassName('calendar__cell_month')
    cell.forEach((cell) => {
      cell.addEventListener('click', this.addEvent)
      console.log(cell)
    })
    console.log('Method mounted ')
    // const tmStart = '2021-09-03'
    // const tmEnd = '2021-09-21'
    // const restApi = 'http://localhost:5000/api/shedule/activity/' + tmStart + '/' + tmEnd

    // axios.get(restApi).then(function (response) {
    //   console.log(response.data.items)
    //   response.data.items.forEach((element) => {
    //     console.log(element)
    //     const msg = `${element.timeEnd}${element.name}`
    //
    //     const obj = {
    //       content: msg,
    //       data: new Date(),
    //       name: element.name,
    //       id_classroom: element.id_classroom,
    //       timeStart: element.tm_end,
    //       timeEnd: element.tm_start
    //     }
    //     this.arrOfEventTags.push(obj)
    //   })
    // })
    //   .catch(function (error) {
    //     console.log(error)
    //   })
  },

  methods: {
    addTag (arr) {
      console.log('Parent addTag  index')
      this.arrOfEventTags = arr
    },
    addEvent (e) {
      console.log(e.target.dataset.id)
      if (e.target.dataset.id.length) {
        this.selectedDate = new Date(e.target.dataset.id)
        // this.currentDateOfMonth = this.fillDays(dayOfWeek, numberOfWeek)
        this.click += 1
      }
    }
  }

}
</script>
