.button{
    border: 1px solid #6F47EB;
    width: 40px;
    height: 40px;    
    outline:none;
    &:hover{
      cursor: pointer;
    }
    &:active{
      background-color: gray; 
    }
}
.disable{
  border: 1px solid #ab98e6;
}
.arrow-left{
    background-image: url(../../static/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    vertical-align: inherit;
    background-color: transparent;
    transform: rotate(180deg);
  }
.arrow-right{
    background-image: url(../../static/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    vertical-align: inherit;
    background-color: transparent;
  }