.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.full_width{
    width: 100%;
}
.tag__week{
    position: relative;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #3914AF;
    box-sizing: border-box;
    border-radius: 8px;
    height: inherit;
    border-left: 13px solid #3914AF;
    padding-top: 10px;
    .content-corner{
    left: 0;
    bottom: 0;
}
    &_placeroom{
        display: inline-block;
        color: white;
        position: absolute;
        transform: rotate(-90deg);
        left: -14px;
        top: 40%;
        font-size: 12px;
    }
    &_time{
        font-size: 8px;
        position: absolute;
        top: 0;
        right: 5px;
    }
}
.content-corner{
    position: absolute;
    left: 0;
    bottom: 0;
}