<template>
  <ol>
    <li
      v-for="(crumb, index) in crumbs"
      :key="index"
    >
      <nuxt-link :to="crumb.path">
        <span>{{ crumb.name }}</span>
      </nuxt-link>
    </li>
  </ol>
</template>
<script>
export default {
  computed: {
    crumbs () {
      const fullPath = this.$route.fullPath
      const params = fullPath.substring(1).split('/')
      const crumbs = []
      let path = ''
      params.forEach((param, index) => {
        path = `${path}/${param}`
        const match = this.$router.match(path)

        if (match.name !== null) {
          crumbs.push(match)
        }
      })
      return crumbs
    }
  }
}
</script>
<style scoped>

</style>
