<template>
  <section>
    <div class="flex-row bordered">
      <div class="col-2 ">
        <div class="flex-row timetable-date">
          <span>25</span><span>март, чт</span>
        </div>
      </div>
      <div class="col-10">
        <div class="flex-row timetable-content">
          <span class="state state-reserved" /><span>17:00 - 19:00</span>
          <span>SMM</span>
        </div>
        <div class="flex-row timetable-content">
          <span class="state state-vacant" /><span>19:00 - 21:00</span>
          <span>Биомеханика</span>
        </div>
      </div>
    </div>
    <div class="flex-row bordered">
      <div class="col-2 ">
        <div class="flex-row timetable-date">
          <span>26</span><span>март, пт</span>
        </div>
      </div>
      <div class="col-10">
        <div class="flex-row timetable-content">
          <span class="state state-reserved" /><span>17:00 - 19:00</span>
          <span>CSS</span>
        </div>
        <div class="flex-row timetable-content">
          <span class="state state-vacant" /><span>19:00 - 21:00</span>
          <span>WEB</span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {

  }
}
</script>

<style lang="scss" scoped>
  .button-modified{
    border: 1px solid #6F47EB;
    outline:none;
    height: 40px;
    border-radius: 4px;
    vertical-align: inherit;
    background-color: transparent;
    color: #3914AF;
    &:hover{
      cursor: pointer;
    }
    &:active{
      background-color: gray;
    }
  }
    .state{
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 2px;
    }
   .state-reserved{
    background-color: red;
   }
   .state-vacant{
    background-color: green;
   }
   .timetable-date{
     justify-content: space-evenly;
     color: #3914AF;
   }
   .timetable-date span:nth-child(1){
     font-weight: bold;
   }
   .timetable-content{
     align-items: center;
     padding-bottom: 15px;
     color: #3914AF;
   }
   .timetable-content>span{
     margin-right: 10px;
   }
   .timetable-content span:nth-child(2){
     font-weight: bold;
   }
   .bordered{
     width: 90%;
     margin:0 auto;
     border:1px solid grey;
     border-radius: 5px;
     padding-top: 15px;
   }

</style>
