<template>
  <div class="calendar__wrapper">
    <section v-if="tpViewMonth">
      <button class="button arrow-left" :class="{ disable: isDisabledLeft }" @click="isDisabledLeft? null : changeMonth(0)" />
      <button class="button arrow-right" :class="{ disable: isDisabledRight }" @click="isDisabledRight? null : changeMonth(1)" />
      <h3>
        {{ monthList[currentMonthId] }} {{ currentYear }}
      </h3>
      <table :class="`${nameClass}__table` ">
        <thead :class="`${nameClass}__column-header`">
          <tr>
            <th
              v-for="(value, index) in weekList"
              :key="index"
            >
              {{ value }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="w in 5"
            :key="w"
            :class="`${nameClass}__line_month`"
          >
            <td
              v-for="i in 7"
              :key="i"
              :class="`${nameClass}__cell_month`"
              :data-week="w"
              :data-id="getDate(i, w, 'full' ) "
            >
              <div class="cell-content__date">
                {{ getDate(i, w, 'dd' ) }}
              </div>
              <EventTag
                :date="[fillDays(i, w),
                        currentMonthId,
                        currentYear]"
                :arr-of-event-tags="arrOfEventTags"
                :is-visible-tag="isVisibleTag"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section v-if="tpViewWeek">
      <table class="calendar__table">
        <thead class="calendar__column-header">
          <tr>
            <th
              v-for="(value, index) in weekList"
              :key="index"
            >
              {{ value }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="calendar__line_week"
          >
            <td
              v-for="i in 7"
              :key="i"
              class="calendar__cell_week calendar__cell_week_date"
            >
              {{ dayWeek(i) }}
              <EventWeekTag
                :date="[dayWeek(i),
                        currentMonthId,
                        currentYear]"
                :is-week-view="tpViewWeek"
                :arr-of-event-tags="arrOfEventTags"
              />
            </td>
          </tr>

          <tr
            v-for="w in 17"
            :key="w"
            class="calendar__line_week"
          >
            <td
              v-for="i in 7"
              :key="i"
              :data-week="w"
              class="calendar__cell_week"
              @click="addEvent(i, w)"
            />
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</template>

<script>

import EventTag from '~/components/EventTag.vue'
import EventWeekTag from '~/components/EventWeekTag.vue'

export default {
  components: { EventTag, EventWeekTag },
  props: {
    nameClass: {
      type: String
    },
    tpViewWeek: {
      type: Boolean
    },
    tpViewMonth: {
      type: Boolean
    },
    isVisibleTag: {
      type: Boolean
    }

  },
  data () {
    return {
      weekList: [
        'ПН',
        'ВТ',
        'СР',
        'ЧТ',
        'ПТ',
        'СБ',
        'ВС'
      ],
      monthList: [
        'Январь',
        'Февраль',
        'Март',
        'Апрель',
        'Май',
        'Июнь',
        'Июль',
        'Август',
        'Сенятбрь',
        'Октябрь',
        'Ноябрь',
        'Декабрь'
      ],
      currentMonthId: new Date().getMonth(),
      currentYear: new Date().getFullYear(),

      currentDateOfMonth: -1,
      arrOfEventTags: null,
      viewType: 'day',
      monthViewType: false,
      weekViewType: false,
      dayViewType: true,
      todayDate: [25, 3, 2021],
      weekChanger: 0,
      isDisabledLeft: false,
      isDisabledRight: false
    }
  },
  mounted () {
    this.$root.$on('addTag', this.addTag)
    // call REST GET Activity

    // const obj = {
    //   content: msg,
    //   data: element.date,
    //   name: 'С',
    //   id_classroom: element.id_classroom,
    //   timeStart:  element.timeStartFrom,
    //   timeEnd:    element.timeEndFrom
    // }
  },
  methods: {
    test () {
      console.log('+')
    },
    getFirstDayOfTheСalender (dt) {
      dt.setDate('01')
      const dayOfWeekRu = (dt.getDay() === 0) ? 6 : dt.getDay() - 1
      dt.setDate(dt.getDate() - dayOfWeekRu)
    },

    formatDate (date) {
      const d = date
      let month = '' + (d.getMonth() + 1)
      let day = '' + d.getDate()
      const year = d.getFullYear()
      if (month.length < 2) { month = '0' + month }
      if (day.length < 2) { day = '0' + day }
      return [year, month, day].join('-')
    },

    dayWeek (dayOfWeek) {
      const day = this.fillDays(dayOfWeek, (Math.ceil(this.todayDate[0] / 7) + this.weekChanger))
      if (day[0]) {
        if (day[1] > this.currentMonthId) {
          this.isDisabledRight = true
        } else if (day[1] < this.currentMonthId) {
          this.isDisabledLeft = true
        }
        return day[0]
      }
      this.isDisabledRight = false
      this.isDisabledLeft = false
      this.currentMonthId = this.todayDate[1] - 1
      return day
      /* this.todayDate[0] - this.getWeekDay(this.todayDate) + i - 1 + (7 * this.weekChanger) */
    },
    // Link on
    // https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat

    getDate (dayOfWeek, numberOfWeek, format) {
      const result = this.fillDays(dayOfWeek, numberOfWeek)
      if (format === 'dd') {
        return new Intl.DateTimeFormat('ru', { day: 'numeric' }).format(result)
      } else {
        // format yyyy-mm-dd
        return this.formatDate(result)
        // format dd.mm.yyyy
        // return new Intl.DateTimeFormat('ru').format(result)
      }
    },
    fillDays (dayOfWeek, numberOfWeek) {
      const currentMonth = new Date(this.currentYear, this.currentMonthId)
      const currentDate = new Date(this.currentYear, this.currentMonthId, dayOfWeek + ((numberOfWeek - 1) * 7))

      currentMonth.daysInPreviousMonth = function () {
        return 33 - new Date(this.getFullYear(), this.getMonth() - 1, 33).getDate()
      }

      if (currentMonth.getDay() !== 1) { // если 1 число не выпадает на понедельник
        const currentDateAnother = new Date(this.currentYear,
          this.currentMonthId - 1,
          currentMonth.daysInPreviousMonth() - currentMonth.getDay() + dayOfWeek + ((numberOfWeek - 1) * 7) + 1
        )
        // здесь такая же байда с двумя массивами
        // if (currentDateAnother.getMonth() !== this.currentMonthId) {
        //   return [currentDateAnother.getDate(), currentDateAnother.getMonth()]
        // }
        return currentDateAnother
        // return currentDateAnother.getDate()
      }
      // похоже что если текущий месяц не совподает с генерированым
      // то вводится соглашение что мы отдаем массив из двух объектов [день, другой месяц ]
      // где это нужно я пока не понял похоже в EventTag
      // if (currentDate.getMonth() !== this.currentMonthId) {
      //   return [currentDate.getDate(), currentDate.getMonth()]
      // }

      return currentDate
    },
    changeMonth (arg) {
      if (this.monthViewType || this.dayViewType) {
        if (arg === 0) {
          if (this.currentMonthId - 1 < 0) {
            this.currentMonthId = 11
            this.currentYear = this.currentYear - 1
          } else {
            this.currentMonthId = this.currentMonthId - 1
          }
        } else if (this.currentMonthId + 1 > 11) {
          this.currentMonthId = 0
          this.currentYear = this.currentYear + 1
        } else {
          this.currentMonthId = this.currentMonthId + 1
        }
      } else if (arg === 0) {
        this.weekChanger -= 1
      } else {
        this.weekChanger += 1
      }
    },
    addEvent (el) {
      console.log(el)
    },
    addTag (arr) {
      console.log('Woow!! Call method addTag Woow')
      console.log(arr)
      // массив передается
      this.arrOfEventTags = arr
    },
    checkToday (dayOfWeek, numberOfWeek) {
      if (this.fillDays(dayOfWeek, numberOfWeek) === this.todayDate[0] &&
          (this.todayDate[1] - 1 === this.currentMonthId) &&
          (this.todayDate[2] === this.currentYear)) {
        return true
      }
    },
    getWeekDay (arr) {
      const date = new Date(arr[2], arr[1] - 1, arr[0] - 1) // 3 января 2014 года
      return date.getDay()
    }

  }
}
</script>
