<template>
  <!-- Карточка мероприятия -->
  <section class="card-event">
    <div class="icons-row">
      <img src="/pic/delete2.svg" alt="">
      <img src="/pic/edit.svg" alt="">
      <img src="/pic/dots.svg" alt="">
      <img src="/pic/cancel.svg" alt="">
    </div>
    <div class="flex-row">
      <div class="flex-column" style="justify-content:space-evenly;">
        <div style="padding:5px 3px;font-size:.8rem;color:grey;">
          <span>пр.Кронверкский 49</span>
          <span>ауд 501 - Лекционная</span>
        </div>
        <section style="padding:5px 3px">
          <span style="font-weight:800">
            Мастерская Биоинформатики
          </span>
        </section>
        <section style="padding:5px 3px;display:flex;">
          <img src="/pic/user.svg" alt="">
          <span>
            Арсений
          </span>
        </section>
      </div>
      <section class="flex-column" style="justify-content:space-between;padding:7px;font-size:.8rem;flex-basis:120px">
        <div style="font-size:.7rem">
          19:00 - 20:00
        </div>
        <div>
          <div style="padding:7px;">
            <label for="ios1">
              <input id="ios1" type="checkbox">
              <div class="ios-wrapper">
                <div class="ios-toggle" />
              </div>
            </label>
          </div>
          <div style="padding:7px">
            <label for="ios2">
              <input id="ios2" type="checkbox">
              <div class="ios-wrapper">
                <div class="ios-toggle" />
              </div>
            </label>
          </div>
        </div>
      </section>
    </div>
  </section>
</template>

<script>

export default {
  data () {
    return {

    }
  }
}
</script>

<style scoped>
    input{
        width:0;
        display: none;
    }
    .card-event{
        width:330px;
        height: 200px;
        background-color: white;
        border: 1px solid #3914AF;
        border-left-width:3px;
        margin-left:20%;
        padding: 4px;
        line-height: 1.3rem;
        border-radius:3px;
    }
    .icons-row{
        display:flex;
        justify-content: flex-end;
    }
    .icons-row > span{
        padding:5px 8px;
    }
    .ios-wrapper{
        position: relative;
        width:50px;
        height: 25px;
        background-color: whitesmoke;
        border-radius:25px;
        border:1px;
    }

    input:checked ~ .ios-wrapper{
        background-color: lightgreen;
    }
    .ios-toggle{
        position:absolute;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color:white;
        box-shadow: 4px 4px 22px -3px rgba(34, 60, 80, 0.33);
        background-color: lightgray;
        transition: all .3s ease-in-out;
    }
    input:checked ~ .ios-wrapper >  .ios-toggle{
        transform: translateX(100%);
        background-color: white;
        transition: all .3s ease-in-out;
    }

    img{
      width: 12px;
      margin:4px;
    }

</style>
