<template>
  <div class="relative">
    <div
      v-for="(item, index) in arrOfTags"
      :key="index"
    >
      <!--  -->
      <div ref="tagWeek" class="absolute full_width" :data-key="index">
        <div
          v-if="item.isVissible"
          class="tag__week"
        >
          <div class="content-corner">
            {{ item.name }}
          </div>
          <div class="tag__week_time">
            {{ item.timeStart }}-{{ item.timeEnd }}
          </div>
          <div class="tag__week_placeroom">
            {{ item.classroom.slice(-4,-1) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  /* eslint-disable */

  props: {
    date: {
      type: Array
    },
    arrOfEventTags: {
      type: Array
    },
    isWeekView:{
        type: Boolean
    },
  },
  data () {
    return {
      arrOfTags: [],

    }
  },
  beforeMount(){
      if(this.arrOfEventTags){
          this.refreshTags()
      }
  },
  mounted() {
    this.applyMargins()
  },
  updated(){
    this.applyMargins()
  },
  computed: {

  },
  watch: {
    date(props){
        this.refreshTags()
    }
  },
  methods: {
    refreshTags () {
      // redner event on grid
          if ( ! this.arrOfTags.length) return
          console.log('refresh');
          this.arrOfTags.forEach((element) => {
          const toDayDate = `${this.date[0]}.${this.date[1] + 1}.${this.date[2]}`
          if( element.date !== toDayDate ){
              element.isVissible = false;
          }
      });
      this.arrOfEventTags.forEach(element => {
          let obj = {
            name: element.name,
            classroom: element.classroom,
            timeStart: element.timeStartFrom,
            timeEnd: element.timeEndFrom,
            date: element.date,
            isVissible: true
          }
          const toDayDate = `${this.date[0]}.${this.date[1] + 1}.${this.date[2]}`
          if(element.data === toDayDate){
              obj.isVissible = true
          }
          this.arrOfTags.push(obj);
      });
    },
    applyMargins () {
      this.arrOfTags.forEach((item, index) => {
          let topMargin = item.timeStart
          let rem = item.timeStart
          rem = rem/60;
          topMargin = ((topMargin - 8 + rem) * 3.444);
          let height = item.timeEnd - item.timeStart;
          let remHeight = item.timeEnd - item.timeStart;
          remHeight = remHeight/60;
          height += remHeight;
          height = height * 3.111
          let tag = this.$refs.tagWeek.find(
              el => el.attributes['data-key'].value == index
          );
          if(tag){
            tag.style.top = `${topMargin}vh`;
            tag.style.height = `${height}vh`;
          }
      });
    }
  }
}
</script>
