<template>
  <div v-if="isVisibleTag & isVissible">
    <div
      v-for="(value, index) in arrOfTags"
      :key="index"
      :data-id="index"
      class="tag content-center"
    >
      <div class="square" />
      {{ value }}
    </div>
    <!-- <div v-if="alsoEvent" class="also-event">{{`Еще +${alsoEvent}`}}</div> -->
  </div>
</template>

<script>
export default {
  /* eslint-disable */
  props: {
    date: {
      type: Array
    },
    arrOfEventTags: {
      type: Array
    },
    isVisibleTag: {
      type: Boolean
    }
  },
  data () {
    return {
      isVissible: false,
      currentDate: '',
      currentDate2: '',
      arrOfTags: [],
      alsoEvent: 0
    }
  },
  mounted() {
    this.refreshTags()
  },
  computed: {

  },
  watch: {
    date (prop) {
      this.refreshTags(true)
    },
    arrOfEventTags (prop) {
      console.log("EvenTag changed");
      /* console.log(`${this.date[0]}.${this.date[1]+1}.${this.date[2]}`);
            console.log(prop[0].data); */
      this.refreshTags()
    }
  },
  methods: {
    refreshTags (isChangeDate) {
      this.arrOfTags = []

      console.log("refresh", this.arrOfEventTags)
      if (this.arrOfEventTags) {
        let currentDate = this.date[0]


        console.log(this.arrOfEventTags.length);
        console.log('Текущая дата:', currentDate );
        for (let i = 0; i < this.arrOfEventTags.length; i++) {
          this.currentDate2 = this.arrOfEventTags[i].data
          console.log('Сверяем с :', this.arrOfEventTags[i].data );
          let eventDate = this.arrOfEventTags[i].data

          if (currentDate.getMonth() ===  eventDate.getMonth() &
              currentDate.getDate()  ===  eventDate.getDate() &
              currentDate.getFullYear()  ===  eventDate.getFullYear() ) {
            console.log("Даты совпали !");
            this.isVissible = true
            if (this.arrOfTags[this.arrOfTags.length - 1] !== this.arrOfEventTags[i].content) {
              if (this.arrOfTags.length < 3) {
                this.arrOfTags.push(this.arrOfEventTags[i].content)
              } else {
                this.alsoEvent = isChangeDate ? this.alsoEvent : this.alsoEvent + 1
              }
            }
          } else {
            console.log("Даты не совпали");
            this.isVissible = !!this.arrOfTags
          }
        }
      }
    }
  }
}
</script>

<style>
.tag{
    display: block;
    background: #ECECFF;
    border-radius: 4px;
    margin: 5px;
}
.container{
    height: 85%;
    position: relative;
}
.square{
    width: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 10px;
    background: #3914AF;
    border-radius: 2px;
}
.content-center{
    display: flex;
    width: auto;
    min-height: 20px;
    font-size: 10px;
    justify-content: flex-start;
    align-items: center;
}
.also-event{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    font-size: 10px;
    line-height: 20px;
    color: #351BA9;
}
</style>
