<template>
  <!--Overlay section start-->
  <div ref="overlayBackground" class="overlay" @click="close">
    <div class="overlay-content">
      <div class="overlay-wrapper">
        <div v-show="isDialogOne" class="dialog-1">
          <span @click="toggleDialogs">Другое</span>
        </div>

        <div v-show="isDialogTwo" class="dialog-2">
          <div class="flex-row flex-row-center">
            <h2>Повтор мероприятия</h2>
          </div>
          <div class="flex-row flex-row-baseline">
            <div class="col-6 form-item">
              Повторять с интревалом
            </div>
            <div class="col-6">
              <div class="flex-row">
                <div class="col-5 form-item">
                  <div style="position:relative">
                    <img src="/pic/Forward.svg" style="position:absolute; right:8px; top:8px; transform:rotate(180deg)" @click="inputFormData.counter++">
                    <img src="/pic/Forward.svg" style="position:absolute; right:8px; bottom:8px" @click="inputFormData.counter--">
                    <input v-model="inputFormData.counter" placeholder="1" type="text">
                  </div>
                </div>
                <div class="col-7 form-item">
                  <label class="label-after">
                    <select id="regularity" ref="regularity" name="regularity">
                      <option value="Неделя" selected>Неделя</option>
                      <option value="День">День</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-row" style="flex-wrap:wrap">
            <div class="col-12 form-item">
              <label for="">Дни повторения</label>
            </div>
            <div class="col-12 days" @click="changeDayOfWeek ">
              <span class="active" data-id="1"> пн</span>
              <span class="selected" data-id="2">вт</span>
              <span data-id="3">ср</span>
              <span data-id="4">чт</span>
              <span data-id="5">пт</span>
              <span data-id="6">сб</span>
              <span data-id="7">вс</span>
            </div>
          </div>
          <div class="flex-row">
            <div class="col-12 form-item">
              <label for="">Окончание</label>
            </div>
          </div>

          <div class="flex-row">
            <div class="col-6">
              <section class="custom-checkbox-wrapper">
                <span class="custom-checkbox">
                  <span class="custom-checkbox-dot" />
                </span>
                <span style="margin-left:15px">Дата окончания</span>
              </section>
              <section class="custom-checkbox-wrapper">
                <span class="custom-checkbox">
                  <span class="custom-checkbox-dot" />
                </span>
                <span style="margin-left:15px">Количество</span>
              </section>
            </div>

            <div class="col-6" style="display:flex;flex-flow:column wrap;justify-content:flex-end;">
              <input
                type="text"
                style="font-size:8px; width:50%;"
              >
              <input
                type="text"
                style="font-size:8px; width:50%;"
              >
            </div>
          </div>
          <div class="flex-row">
            <div class="col-12 form-item">
              <label for="">Календарь со скролом</label>
              <CalendarMonth
                :tp-view-month="true"
                :name-class="nameClass"
              />
            </div>
          </div>
          <div class="flex-row flex-row-center" style="margin-top:50px">
            <span class="button-custom" @click="isDialogTwo=false">Отмена</span>
            <span class="button-custom" @click="isDialogTwo=false">Сохранить</span>
          </div>
        </div>
        <div class="flex-row flex-row-center">
          <h1>Новое мероприятие</h1>
        </div>
        <div class="flex-row">
          <section class="col-12 form-item">
            <label>Название
              <input ref="name" v-model="inputFormData.name" type="text" placeholder="">
            </label>
          </section>
        </div>
        <div class="flex-row">
          <div class="col-6" style="display:flex;align-items:center;justify-content:space-evenly;position:relative">
            <img src="/Vector.png" alt="">
            <span>Дата</span>
            <div>
              <span>{{ weekList[weekday-1] }}</span> <span>{{ monthDay }}</span> <span>{{ monthList[eventMonth] }}</span> <span>{{ eventYear }}</span>
            </div>
            <input
              id="date"
              ref="date"
              v-model="inputFormData.date"
              type="date"
              name="date"
              style="position:absolute;opacity:0;z-index:20"
            >
          </div>
          <div class="col-6" style="display:flex;align-items:center;justify-content:space-evenly">
            <img src="/pic/ciferblat.svg" style="width:18px" alt="">
            <span>Время</span>
            <div>
              <span v-show="!editMode" @click="editMode = !editMode">
                {{ inputFormData.timeStartFrom }}
              </span>
              <input
                v-show="editMode"
                id=""
                v-model="inputFormData.timeStartFrom"
                min="0"
                max="23"
                class="timeInput"
                type="number"
                name=""
                @blur="editMode = !editMode"
              >:
              <span v-show="!editMode" @click="editMode = true">
                {{ inputFormData.timeStartTill }}
              </span>
              <input
                v-show="editMode"
                id=""
                v-model="inputFormData.timeStartTill"
                min="0"
                max="59"
                class="timeInput"
                type="number"
                name=""
                @blur="editMode = false"
              >
              -
              <span v-show="!editMode" @click="editMode = true">
                {{ inputFormData.timeEndFrom }}
              </span>
              <input
                v-show="editMode"
                id=""
                v-model="inputFormData.timeEndFrom"
                min="0"
                max="23"
                class="timeInput"
                type="number"
                name=""
                @blur="editMode = false"
              >:
              <span v-show="!editMode" @click="editMode = true">
                {{ inputFormData.timeEndTill }}
              </span>
              <input
                v-show="editMode"
                id=""
                v-model="inputFormData.timeEndTill"
                min="0"
                max="59"
                class="timeInput"
                type="number"
                name=""
                @blur="editMode = false"
              >
            </div>
          </div>
        </div>
        <div class="flex-row">
          <div class="col-7 form-item">
            <legend>Местоположение</legend>
            <label class="label-after">
              <select
                id="place"
                ref="place"
                v-model="inputFormData.id_campus"
                name="place"
                @change="changeRooms"
              >
                <option v-for="(item, index) in arrLocation" :key="index" :value="item.id">
                  {{ item.name }}
                </option>
              </select>
            </label>
          </div>
          <div class="col-5 form-item">
            <legend>Аудитория</legend>
            <label class="label-after">
              <select id="room" ref="room" name="room" disabled>
                <!-- v-model="inputFormData.id_classroom" -->
                <option value="" disabled selected hidden />
                <!-- Populated with JavaScript -->
              </select>
            </label>
          </div>
        </div>

        <div class="flex-row">
          <div class="col-6 form-item">
            <legend>Тип мероприятия</legend>
            <label class="label-after">
              <select id="activityType" ref="activityType" v-model="inputFormData.id_tp_activity" name="activityType">
                <option value="" disabled selected hidden>
                  Тип мероприятия
                </option>
                <option v-for="(item, index) in arrTpActivity" :key="index" :value="item.id">
                  {{ item.name }}
                </option>

              </select>
            </label>
          </div>
          <div class="col-6 form-item">
            <legend>Регулярность</legend>
            <label class="label-after">
              <input id="period" ref="period" name="period" @click="isDialogOne=true">
            </label>
          </div>
        </div>

        <div class="flex-row">
          <div class="col-12 form-item">
            <label for="desc">Описание мероприятия</label>
            <textarea id="desc" ref="desc" v-model="inputFormData.describe" class="textarea" placeholder="" />
          </div>
        </div>

        <div class="flex-row">
          <section class="col-12 form-item">
            <legend>Организатор</legend>
            <label class="label-after">
              <select id="organizer" ref="organizer" v-model="inputFormData.id_member" name="organizer">

                <option v-for="(item, index) in arrOrganizer" :key="index" :value="item.id">
                  {{ item.name }}
                </option>
              </select>
            </label>
          </section>
        </div>

        <div class="submit-btn">
          <input type="submit" value="Сохранить" class="submit" @click="onSubmit">
        </div>
        <div ref="warn" class="warning margin-horiz hidden">
          Все поля должны быть заполнены
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import CalendarMonth from '~/components/CalendarMonth.vue'
// const querystring = require('querystring')
export default {
  /* eslint-disable */
  components: { CalendarMonth },
  props: {
    date: {
      type: Array
    },
    click: {
      type: Number
    },
    viewType: {
      type: String
    },
    weekChanger: {
      type: Number
    },
    selectedDate: {
      type: Date
    }
  },
  data () {
    return {
       nameClass:"events-calendar",

       weekList: [
        'ПН',
        'ВТ',
        'СР',
        'ЧТ',
        'ПТ',
        'СБ',
        'ВС'
      ],
      monthList: [
        'Января',
        'Февраля',
        'Марта',
        'Апреля',
        'Мая',
        'Июня',
        'Июля',
        'Августа',
        'Сенятбря',
        'Октября',
        'Ноября',
        'Декабря'
      ],
      editMode:false,
      inputIsAble: false,
      isDialogOne:false,
      isDialogTwo:false,
      arrLocation:[],
      arrOrganizer:[],
      arrTpActivity:[],
      arrEventDate:[],

      inputFormData: {
        id_campus: '',
        id_classroom: '',
        id_member: '',
        date: '',
        id_tp_activity: '',
        name: 'Мероприятие 1',
        describe: "Что-то поясняющее",
        counter:1,
        eventDate:[],
        timeStartFrom:'00',
        timeStartTill:'00',
        timeEndFrom:'00',
        timeEndTill:'00'
      },
      selectedData: [

      ]
    }
  },
  mounted(){

    // this.$root.$on('addTag', function (arr) { console.log('Catch global addTag hire', arr) })
    // Для чего это ?
    console.log('Вызов InputEvent 1 раз');
    const checkboxes = document.getElementsByClassName("custom-checkbox-wrapper")
    checkboxes.forEach(ch=>{
      ch.addEventListener("click", function(e){
          this.firstChild.firstChild.classList.add("active")
        for(let sibling of this.parentElement.children){
          if(sibling !== this){
            sibling.firstChild.firstChild.classList.remove("active")
          }
        }
      })
    })

    const cell = document.getElementsByClassName("events-calendar__cell_month")
    cell.forEach( cell => {
      cell.addEventListener("click", this.markDate)
      console.log(cell)
    })
    console.log('set date', this.inputFormData.date)


    axios.get('http://localhost:5000/api/shedule/classroom/list').then((response) => {
      this.arrLocation = response.data.items
    })
    axios.get('http://localhost:5000/api/shedule/member/2').then((response) => {
      this.arrOrganizer = response.data.items
    })
    axios.get('http://localhost:5000/api/shedule/tpactivity').then((response) => {
      this.arrTpActivity = response.data.items
    })
  },
  computed: {
    weekday(){
      return new Date(this.inputFormData.date).getDay()||''
    },
    monthDay(){
      return new Date(this.inputFormData.date).getDate()||''
    },
    eventYear(){
      return new Date (this.inputFormData.date).getFullYear()||''
    },
    eventMonth(){
      return new Date (this.inputFormData.date).getMonth()||''
    }
  },
  watch: {
    selectedDate(){
      this.inputFormData.date = this.selectedDate;
    },

    date (newval, oldval) {
      if (newval[1] === oldval[1]) {
        this.$refs.overlayBackground.style.height = '100%'
        this.inputIsAble = true
      }
    },
    viewType(){
      this.$refs.overlayBackground.style.height = '0%'
      this.inputIsAble = false
    },
    weekChanger(){
      this.$refs.overlayBackground.style.height = '0%'
      this.inputIsAble = false
    },
    /* inputIsAble: function(val) {
      if (!val){
        this.$refs.overlayBackground.style.height = "0%";
      }
    }, */
    selectedData (val) {
      // срабатывает когда менятся массив selectedData
      // напишем асинхонный вызов которы поместит в БД
      // расписание и потом мы обновим массив
      console.log("Wather selectedData");
      console.log(val);
      const arr = []
      val.forEach((element) => {
        const msg = `${element.timeStartFrom}${element.name}`
        const obj = {
          content: msg,
          data: element.date,
          name: element.name,
          id_classroom: element.id_classroom,
          timeStart:  element.timeStartFrom,
          timeEnd:    element.timeEndFrom
        }
        console.log("selectedData Add event ");
        console.log(obj);
        arr.push(obj)
      })
      console.log("emit Root addTag ");
      //this.$emit('addTag', arr)
      // генерим глобальное событие и получаем его в копоненте monthCalendar
      this.$root.$emit('addTag', arr);
    }

  },
  methods: {
    markDate(e) {
      console.log(e.target.dataset.id )
      if (e.target.dataset.id.length) {
        console.log(this.inputFormData.eventDate)
        if (this.inputFormData.eventDate.indexOf(e.target.dataset.id) == -1 ){
          console.log("Добавляем");
          this.inputFormData.eventDate.push(e.target.dataset.id)
          this.selectedMarkDate(e.target)
        } else {
          console.log("Удаляем");
          this.inputFormData.eventDate.splice(this.inputFormData.eventDate.indexOf(e.target.dataset.id), 1);
        }
      }
      console.log(this.inputFormData.eventDate)
    },
    selectedMarkDate(el){
      console.log(el.classList);
      el.classList.add("selected")
    },
    test () {
      console.log('+')
    },

    addDateToCollection(e){
      console.log(e)
    },

    changeDayOfWeek(e){
      if (e.target.dataset.id) {
        let elm = e.target;
        console.log(e.target.dataset.id);
        elm.className = (elm.className === 'selected') ? 'unselected': 'selected';
      }

    },
    toggleDialogs(){
      this.isDialogOne = false;
      this.isDialogTwo = true;
    },
    clearForm () {
      this.inputFormData.id_campus = ''
      this.inputFormData.id_tp_activity = ''
      this.inputFormData.id_member = ''
      this.inputFormData.timeStart = ''
      this.inputFormData.timeEnd = ''
      this.$refs.name.textContent = 'Название мероприятия'
    },
    close (event) {
      if (event) {
        const evt = event.target
        if ((evt.classList.contains('overlay')) || (evt.classList.contains('closebtn')) || (evt.classList.contains('submit'))) {
          this.$refs.warn.classList.add('hidden')
          this.$refs.overlayBackground.style.height = '0%'
        };
      } else {
        this.$refs.warn.classList.add('hidden')
        this.$refs.overlayBackground.style.height = '0%'
      }
    },
    changeRooms (e) {
      if (e.target.value !== '') {
        // alert(e.target.value);
        this.$refs.room.disabled = false
        console.log(e.target.value)

        for (let i = 0; i < this.arrLocation.length; i++) {
          if (this.arrLocation[i].id == e.target.value) {
            this.clearSelect(this.$refs.room)
            console.log(this.arrLocation[i].auditoria)
            this.populateSelect(this.arrLocation[i].auditoria)
            break
          }
        }

        /*
        switch (e.target.value) {
          case 'OLIMP':
            this.clearSelect(this.$refs.room)
            this.populateSelect(this.data.place[0].auditoria)
            break
          case 'SNLO':
            this.clearSelect(this.$refs.room)
            this.populateSelect(this.data.place[1].auditoria)
            break
           default:
            text = 'Error, Sir!'
        }*/
      } else { this.$refs.room.disabled = true }

    },
    populateSelect (target) {
      for (let i = 0; i < target.length; i++)  {
        const option = document.createElement('option')
        option.value = target[i].id_classroom
        option.text = target[i].num_class
        this.$refs.room.appendChild(option)
      }
    },
    clearSelect (target) {
      while (target.firstChild) {
        target.removeChild(target.lastChild)
      };
      const option = document.createElement('option')
      option.value = 'placeholder'
      option.text = 'Аудитория'
      option.disabled = true
      option.selected = true
      option.hidden = true
      this.$refs.room.appendChild(option)
    },
    onSubmit (e) {
      console.log("onSubmit")
      if (!(!this.$refs.place.value
              || !this.$refs.room.value
              || !this.$refs.organizer.value
              || !this.$refs.activityType.value
              || !this.$refs.name.value)) {

        e.preventDefault()
        this.inputFormData.id_classroom = this.$refs.room.value
        this.inputFormData.id_member = this.$refs.organizer.value
        // цирк с датами убрать this.date[0][0] - в выбранную дату передаются
        // сразу в this.inputFormData.date

        this.inputFormData.name = this.$refs.name.value
        console.log("Push Save")
        this.selectedData.push({ ...this.inputFormData })
        this.$refs.warn.classList.add('hidden')
        this.saveEvent()
        //this.close()
        this.clearForm()
      } else {
        console.log('Remove hidden')
        this.$refs.warn.classList.remove('hidden')
      }
    },
    saveEvent(){
      var result = this.inputFormData
      result = JSON.stringify(result)
      // result =  querystring.stringify({ })
      axios.defaults.headers.post['Content-Type'] = 'application/json'
      axios.post('http://localhost:5000/api/shedule/activity',{ result
        })
        .then(function (response) {
          console.log(response);
        })
        .catch(function (error) {
          console.log(error);
        });
    }

  }
}
</script>
<style scoped>
.active{
  visibility: visible;
}
.label-after{
  position:relative
}
.label-after:after{
  position:absolute;
  text-align: center;
  /*content: "\25BC";*/
  content:url("/pic/Forward.svg");
  right:10px;
  top: 0;
  bottom:0;
  width: 20px;
}
.button-custom{
  padding-left: 15px;
  padding-right: 15px;
  padding-top:5px;
  padding-bottom:5px;
  font-weight: bold;
  color:#3914AF;
  font-size: 0.8em;
  border-radius: 5px;
}

 .button-custom:hover {
    cursor: pointer;
    background-color: #3914AF;
    color: white;
}
legend{
  font-size: 1.2rem;
    font-weight: bold;
}
.timeInput{
  padding: 2px !important;
  width: 25px;
  font-size: inherit;
  margin: 0;
  box-shadow: none;
  border: 1px solid #6F47EB;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.timeInput:focus{
  outline: none
}
</style>
