<template lang="html">
  <h2> Пользователь {{ id }} </h2>
</template>

<script>
export default {
  computed: {
    id () {
      return this.$route.params.id
    }
  }
}
</script>

<style lang="css" scoped>
</style>
