<template>
  <main id="main">
    <section id="skill" class="flex-row">
      <!-- SKILL FORM -->
      <section id="skill-form" class="col-9">
        <section class="flex-row">
          <div class="col-6">
            <!--FORM-->
            <form action="">
              <div class="flex-row">
                <div class="col-7">
                  <legend>Тип</legend>
                  <label id="label-mode">
                    <input v-model="edumode" type="text" placeholder="">
                  </label>
                </div>
                <div class="col-5 pl-10">
                  <legend>Длительность</legend>
                  <input v-model="eduperiod" type="date" placeholder="">
                </div>
              </div>
              <div class="flex-row">
                <div class="col-12">
                  <legend>Учебное заведение</legend>
                  <input v-model="eduname_" type="text" placeholder="Название или аббревиатура">
                </div>
              </div>
              <div class="flex-row">
                <div class="col-12">
                  <legend>Описание</legend>
                  <textarea v-model="edudesc" type="text" placeholder="Расскажите, что вы делали, что получили от этого образования" />
                </div>
              </div>
              <div class="flex-row">
                <div class="col-12">
                  <legend>Дипломы и сертификаты</legend>
                  <div class="droparea">
                    <img src="/pic/file.svg" style="max-width:30px;margin-top:5px" alt="">
                    <span style="color:#bdbaba">Перетащите сюда файлы или</span>
                    <span>выберите файлы</span>
                  </div>
                </div>
              </div>
            </form>
            <!--FORM END-->
          </div>
          <div class="col-6 tooltip-parent">
            <div class="tooltip-body">
              <div class="tooltip-closer">
                <span>X</span>
              </div>
              <div class="flex-row tooltip-content">
                <img style="margin-left:20px" src="/pic/lightbulb.svg" alt="">
                <p style="margin-left:35px;font-size:.75em">
                  Если Вы учитесь сейчас, то укажите предполагаемый год обучения
                </p>
              </div>
            </div>
            <div class="tooltip-body">
              <div class="tooltip-closer">
                <span>X</span>
              </div>
              <div class="flex-row tooltip-content">
                <img style="margin-left:20px" src="/pic/lightbulb.svg" alt="">
                <p style="margin-left:35px;font-size:.75em">
                  Если Вы учитесь сейчас, то укажите предполагаемый год обучения
                </p>
              </div>
            </div>
          </div>
        </section>
        <div class="divider-box">
          <br>
          <span class="add-education">
            Добавьте еще одно образование
          </span>
        </div>
        <div id="profile-button-group">
          <span class="button-custom" type="button" name="button">
            Сохранить
          </span>
          <span class="button-custom" type="button" name="button">
            Отмена
          </span>
        </div>
      </section>
      <!-- SIDE MENU-->
      <section class="col-3">
        <nav>
          <Menu />
        </nav>
      </section>
    </section>
  </main>
</template>

<script>
export default {
  layout: 'olimp'
}
</script>
<style>

:root {
        --main-font: Helvetica, Arial, sans-serif;
     }

     form{
       max-width:500px;
       background-color: inherit;
     }

     form > div {
       margin-bottom: 20px;
     }

     #main{
       background-color: rgb(209, 209, 209, 0.2);
       height: 100vh;
     }

     #skill{
        max-width: 1280px;
        margin: 0 auto;
     }

     #skill > section{
        margin:10px;
        background-color: rgba(255, 255, 255, .75);
     }

    #skill-form section{
       padding:15px;
     }

      input, .long {
            font-size: 1rem;
            margin-top: 5px;
            width: 100%;
            padding: 8px;
            border: 1px solid #f2f2f2;
            box-shadow: 0 0 1px 1px rgba(221, 221, 221, 1);
            border-radius: 8px;
       }
    legend {
       margin-bottom: 5px;
     }

    .tooltip-parent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tooltip-body{
        margin-top:50px;
        width:300px;
        height: 150px;
        background-color: rgb(209, 209, 209, 0.2);
        border-radius:10px;
        margin-left:0 auto;
    }
    .tooltip-closer{
        display: flex;
        padding: 5px;
        justify-content: end;
    }
    .tooltip-content{
        display: flex;
        color:gray
    }
    .tooltip-content img{
        max-width:35px;
    }
    .pl-10{
      padding-left:10px;
    }
    .divider-box{
      width:50%;
      margin-left: 15px;
      border-top:4px solid rgb(209, 209, 209, 0.2);
    }
    .divider-box span{
      margin-top:100px;
      font-weight: bold;
      color:gray
    }
    label {
          position: relative;
    }

    #label-mode:after{
          text-align: center;
          content: "\25BC";
          position:absolute;
          right:10px;
          top: 0;
          bottom:0;
          width: 20px;
        }
  #profile-button-group{
       margin-top:10%;
       margin-bottom: 20px;
     }
  .button-custom{
          padding-left: 15px;
          padding-right: 15px;
          padding-top:5px;
          padding-bottom:5px;
          font-weight: bold;
          color:#7204a0;
          font-size: 0.8em;
          border-radius: 5px;
       }

.add-education:after{
  margin-left:10px;
  text-align: center;
  vertical-align: middle;
  content: "+";
  font-size: 1.2em;
}

textarea{
  padding: 10px;
  width:100%;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 1px 1px rgba(221, 221, 221, 1);
  border-radius: 8px;
}
textarea::placeholder{
  color: rgb(50, 50, 50);
  font-size: .9em;
}
.droparea{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width:100%;
  height: 100px;
  border: 2px dashed #bdbaba;
  border-radius: 8px;
  font-size: .9em;
  font-weight:bold;
}
</style>
