<template>
  <main id="main">
    <section id="info" class="flex-row">
      <!-- PROFILE-->
      <section class="profile col-9">
        <section class="flex-row">
          <div class="col-8">
            <!--FORM-->
            <form class="" action="index.html" method="post">
              <div>
                <legend>Фамилия</legend>
                <input v-model="surname" type="text" placeholder="Фамилия">
              </div>

              <div>
                <legend>Имя</legend>
                <input v-model="name" type="text" placeholder="Имя" name="Имя">
              </div>

              <div>
                <legend>Отчество</legend>
                <input v-model="patronymic" class="long" type="text" name="Отчество" value="Отчество">
              </div>

              <div>
                <legend>Дата рождения</legend>
                <div class="flex-row date-birthday">
                  <div class="col-3">
                    <input v-model="day" type="text" name="dt-birthday" size="30px">
                  </div>

                  <div class="col-6 custom-select">
                    <label id="label-month">
                      <input v-model="month" type="text" name="birthday-month" value="" size="">
                    </label>
                  </div>

                  <div class="col-3">
                    <input v-model="year" type="text" name="year" value="1997">
                  </div>
                </div>
              </div>

              <div>
                <legend>Контакты</legend>
                <div class="flex-row contacts">
                  <div class="col-6">
                    <label id="label-phone">
                      <input v-model="phone" type="text" name="phone" placeholder="phone">
                    </label>
                  </div>
                  <div class="col-6">
                    <label id="label-email">
                      <input v-model="email" type="text" name="email" placeholder="email">
                    </label>
                  </div>
                </div>
              </div>

              <div>
                <legend>Социальные сети</legend>
                <div class="flex-row socials">
                  <div class="col-7">
                    <label class="label-share">
                      <input type="text" name="social" placeholder="vk.com/artleb">
                    </label>
                  </div>
                  <div class="col-5" style="padding-top:10px">
                    <span @click="addItem">+</span>
                  </div>
                  <!--Deletion logic fails-->

                  <div v-for="(n, counter) of socialArr.length" :key="n.uniquekey" class="flex-row">
                    <div class="col-10">
                      <label class="label-share">
                        <input :id="'counter'+counter" v-model="socialvals[counter]" type="text" :name="'social'+counter" placeholder="">
                      </label>
                    </div>
                    <div class="col-2" style="padding-top:10px">
                      <span @click="removeItem(counter)"><img src="/pic/delete.svg" width="30" alt=""></span>
                    </div>
                  </div>
                </div>
              </div>

              <div id="profile-button-group">
                <span class="button-custom" type="button" name="button" @click="sendForm">
                  Сохранить
                </span>
                <span class="button-custom" type="button" name="button">
                  Отмена
                </span>
              </div>
            </form>
            <!--FORM END-->
          </div>
          <section class="col-4">
            <legend>Фото профиля</legend>
            <div class="photo">
              <div class="img">
                <section class="edit_profile" />
              </div>
              <div class="parent-button-photo">
                <span class="button-custom button-custom-photo" type="button" name="change">
                  Изменить
                </span><br><br>
                <span class="button-custom button-custom-photo" type="button" name="delete">
                  Удалить
                </span>
              </div>
            </div>
          </section>
        </section>
      </section>
      <!-- PROFILE END-->
      <!-- SIDE MENU-->
      <section id="menu" class="col-3">
        <nav>
          <Menu />
        </nav>
      </section>
    </section>
  </main>
</template>

<script>
import axios from 'axios'
import Menu from '~/components/Menu.vue'

export default {
  // middleware: 'auth',
  layout: 'olimp',
  components: {
    Menu
  },
  props: {
    title: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      result: [],
      socialvals: [],
      socialArr: [],
      num: 0,
      surname: 'Запрос к базе не работает',
      name: '',
      patronymic: '',
      day: '',
      month: '',
      year: '',
      phone: '+7 (000) 000-00-00 ',
      email: '',
      value: 'dd'
    }
  },
  computed: {

  },
  mounted () {
    // axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded'
    axios.get('http://localhost:5000/api/user/2').then((response) => {
      console.log(response)
      this.surname = response.data.surname
      this.name = response.data.name
      this.patronymic = response.data.patronymic
      const dt = new Date(response.data.dt_birth + ' Z')
      const dateTimeFormatDay = new Intl.DateTimeFormat('ru-RU', { day: 'numeric' })
      // to-do: make selector for mouns
      const dateTimeFormatMonth = new Intl.DateTimeFormat('ru-RU', { month: 'long' })
      const dateTimeFormatYear = new Intl.DateTimeFormat('ru-RU', { year: 'numeric' })
      this.day = dateTimeFormatDay.format(dt)
      this.month = dateTimeFormatMonth.format(dt)
      this.year = dateTimeFormatYear.format(dt)
      this.phone = response.data.phone
      this.email = response.data.email
    })
  },
  methods: {
    displayvals () {
      console.log(this.socialvals)
      console.log(this.socialArr)
    },
    removeItem (index) {
      console.log(index)
      this.socialArr.splice(index, 1)
      this.socialvals.splice(index, 1)
    },
    addItem () {
      this.socialArr.push({ uniquekey: Math.random() })
    },
    sendForm () {
      const form = document.querySelector('form')
      const data = new FormData(form)
      console.log(data)
      axios.put('http://localhost:5000/api/user/2', data)
    }
  }

}

</script>

<style>
     :root {
        --main-font: Helvetica, Arial, sans-serif;
     }

     form{
       max-width:500px;
       background-color:inherit;
     }

     #main{
       background-color: rgb(209, 209, 209, 0.3);
       height: 100vh;
     }

      #info{
        max-width: 1280px;
        margin:0 auto;
     }

     #info > section{
      margin:10px;
      background-color: rgba(255, 255, 255, .75);
     }

     .profile section{
       padding:15px;
     }

     input, .long {
            font-size: 1rem;
            margin-top: 5px;
            width: 100%;
            padding: 8px;
            border: 1px solid #f2f2f2;
            box-shadow: 0 0 1px 1px rgba(221, 221, 221, 1);
            border-radius: 8px;
       }

     #profile-button-group{
       margin-top:10%;
     }

     legend {
       margin-bottom: 5px;
     }

     html, header {
       margin-top: 0;
       font-family: var(--main-font)
     }
      label {
          position: relative;
        }
        label:before{
          content: "";
          position: absolute;
          left: 10px;
          top: 3px;
          bottom: 0;
          width: 20px;
        }
        #label-phone:before {
          background: url("/pic/phone-numbers-call.svg");
          background-size: 100%;
          background-repeat: no-repeat;
        }
        #label-email:before {
          background: url("/pic/message.svg");
          background-size: 100%;
          background-repeat: no-repeat;
        }
        .label-share:before {
          background: url("/pic/share.svg");
          background-size: 100%;
          background-repeat: no-repeat;
        }

        #label-month:after{
          text-align: center;
          content: "\25BC";
          position:absolute;
          right:10px;
          top: 0;
          bottom:0;
          width: 20px;
        }

        input[name=phone], input[name=email], input[name=social], input[name=birhtday-month], .socials input{
          padding: 10px 30px !important;
        }

       .long {
           width: 293px;
       }

       .small  {
           width: 4em;
       }
       .section-photo .fio {
          float: left;
          width: 50%;
       }
       .photo {
         border: 1px solid rgb(241, 240, 240);
         border-radius: 10px;
         margin-right: 35px;
         text-align: center;
         background-color: white;
       }
       .button-custom{
          padding-left: 15px;
          padding-right: 15px;
          padding-top:5px;
          padding-bottom:5px;
          font-weight: bold;
          color:#7204a0;
          font-size: 0.8em;
          border-radius: 5px;
       }

       .button-custom-photo{
         box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
       }

       .button-custom:hover{
         cursor: pointer;
         background-color: #7204a0;
         color: white;
       }

       .parent-button-photo{
         margin-bottom: 50px;
       }
       img{
         max-width:100%;
       }
       .img {
        position: relative;
         margin: 2em auto;
         width: 120px;
         height: 120px;
         border:2px solid lightblue;
         border-radius: 50%;
         background-image: url("/boy.png");
          background-size: 80%;
          background-repeat: no-repeat;
           background-position: center;
       }
       .avatar{
         padding:0 !important;
       }
       .edit_profile{
          position:absolute;
          width:20px;
          height: 20px;
          border: 2px solid violet;
          border-radius:50%;
          right:0;
          bottom:0;
          background-image: url("/pic/edit.svg");
          background-size: 65%;
          background-repeat: no-repeat;
          background-position: center;
       }

       .date-birthday > div, .contacts > div, .socials > div{
         padding-right:10px;
       }

       .v-application--wrap .v-list-item__title{
         color:white !important;
       }

       .socials{
         flex-wrap: wrap;
       }

</style>
