<template lang="html">
<!-- eslint-disable -->
  <div class="flex-column" v-if="!nextStep" style="padding: 10px;">
    <div class="flex-row">
    <div class="image-picker"> </div>
    <div>
    <label for="href_avatar">Прикрепить ссылку на изображение</label>
    <input id="href_avatar" type="text" v-model="href_avatar">
    <label for="title">Название проекта</label>
    <input id="title" type="text" v-model="title">
    <label for="keywords">Ключевые слова</label>
    <input id="keywords" type="text" v-model="keywords">
    </div>
    </div>
    <div class="flex-row">
    <div class="col-6">
    <label for="complexity">Сложность проекта</label>
    <div class="range">
    <ul class="range-labels">
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
    </ul>
    <input
    id="complexity"
    v-model="complexity" type="range" min="1" max="7"
    steps="1">
    </div>
    </div>
    <div class="col-6"> {{complexity_descr[complexity-1]}}</div>
    </div>
    <label for="desc_short">Краткое описание проекта</label>
    <textarea id="desc_full" rows="5" v-model="desc_short"> </textarea>
    <div class="flex-row">
    <button @click="back">Назад</button>
    <button @click="nextStep=true">Далее</button>
    </div>
    </div>
    <div class="flex-column" v-else style="padding: 10px;">
    <label for="desc_full">Полное описание проекта</label>
    <textarea id="desc_full" v-model="desc_full"> </textarea>
    <div class="flex-row">
    <button @click="nextStep=false">Назад</button>
    <button @click="addNew">Создать</button>
    </div>
    </div>
</template>

<script>
/* eslint-disable */
export default {
  data() {
    return {
      title: "",
      keywords: "",
      complexity: 4,
      desc_short: "",
      desc_full: "",
      href_avatar: "",
      nextStep: false,
      complexity_descr: ['Первый уровень сложности, справится человек из любой возрастной группы без специальной подотовки',
                         'Второй уровень сложности, возможно понадобится использовать знания в рамках школьной программы',
                         'Третий уровень сложности, возможно понадобится гуглить',
                         'Четвертый уровень сложности, возможно понадобится много гуглить',
                         'Пятый уровень сложности, возможно понадобится очень много гуглить',
                         'Шестой уровень сложности, возможно понадобится очень-очень много гуглить',
                         'Седьмой уровень сложности, возможно понадобится очень-очень-очень много гуглить и не факт что поможет',]
    };
  },
  layout: "olimp",
  methods: {
    addNew() {
      const newProject = {
        id_project: Math.floor(Math.random() * 100000000),
        title: this.title,
        keywords: this.keywords.split(",").map((item) => item.trim()),
        complexity: this.complexity,
        desc_short: this.desc_short,
        desc_full: this.desc_full,
        href_avatar: this.href_avatar,
        is_favorites: false,
        owner: true,
        status: 1,
        list_revision: ["MK I"],
        last_changed: new Date(Date.now()).toISOString(),
        last_changed_author: "",
        actions: {},
      };
      this.$store.dispatch("project/addNew", newProject);
    },
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
.image-picker {
  width: 195px;
  height: 195px;
  border: 1px solid lightgray;
}

.range {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.range input {
  width: 100%;
  top: 30px;
  height: 0;
  -webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: rgba(68, 0, 184, 0.4);
  cursor: pointer;
  border: 0 !important;
}
.range input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: rgba(68, 0, 184, 0.4);
  cursor: pointer;
  border: 0 !important;
}
.range input::-ms-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: rgba(68, 0, 184, 0.4);
  cursor: pointer;
  border: 0 !important;
}
.range input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background:  #F3F2F5;
}
.range input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background:  #F3F2F5;
}
.range input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background:  #F3F2F5;
}
.range input:focus {
  background: none;
  outline: none;
}
.range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range-labels {
  z-index: -1;
  width: 100%;
  height: 6px;
  background-color: #F3F2F5;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.range-labels li {
  position: relative;
  /* float: left;
  width: 90.25px; */
  text-align: center;
  color:  #F3F2F5;
  /* font-size: 14px;
  cursor: pointer; */
}
.range-labels li::before {
  position: absolute;
  top: -2px;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  width: 12px;
  height: 12px;
  background:  #F3F2F5;
  border-radius: 50%;
}
.range-labels li:last-of-type::before {
  left: -4px
}


.range-labels .selected::before {
  background: rgba(68, 0, 184, 0.4);
}

</style>
