.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(100, 100, 100, 0.5);
    overflow-y: hidden;
    transition: 0.5s;
    transition-property: height;
    align-items: center;
    display: flex;
    color:#3914AF;
}
.custom-checkbox{
    width:20px;
    height:20px;
    border-radius:20px;
    border:2px solid #3914AF;
    display:flex;
    justify-content:center;
    align-items:center;
}
.custom-checkbox-dot{
    width:10px;
    height:10px;
    border-radius:10px;
    background-color:#3914AF;
    display:inline-block;
    visibility: hidden;
}
.custom-checkbox-wrapper{
    display: flex;
    margin-left:50px;
    margin-top: 10px;
}
.dialog-1{
    position:absolute;
    font-size: 16px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width:80%;
    height: 40%;
    margin-left: 10%;
    margin-top: 30%;
    background-color: white;
    z-index: 5;
    padding-left: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.dialog-2{
    position:absolute;
    font-size: 16px;
    width:100%;
    height: 100%;
    // margin-left: 0%;
    // margin-top: 20%;
    background-color: white;
    z-index: 7;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.days span{
    width: 35px;
    height: 35px;
    padding: 5px 6px;
    border-radius: 50%;
    background-color: #F8F6FE;
    color: #3914AF;
    margin-left: 10px;
}
.days span:hover{
    background-color:#3914AF;
    color: #F8F6FE;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.days  span.selected {
    background-color:#3914AF;
    color: #F8F6FE;
}

.dialog-1 span:hover{
    background-color: #F8F6FE;
    cursor: pointer;
}
.overlay-wrapper{
    margin: 15px auto;
    width: 501px;
    height: 770px;
    border: 1px solid #3914AF;
    position: relative;
    background-color: white;
}
.overlay-content {
    margin: auto;
    width: 531px;
    height: 800px;
    font-size: 0.8em;
    background-color: #F8F6FE;
}
.form-item{
    padding:15px;
}
.form-item label{
    font-size: 1.2rem;
    font-weight: bold;
}
.form-item input, select, textarea{
    background: #F8F6FE;
    border: 1px solid #6F47EB;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 13.6px;
}

.activeDay{
    border-bottom: solid 3px #3914AF!important;
}

.form-row select,
.form-row textarea,
.form-row input {
    border-width: 0.05em;
    border-radius: var(--overlay-element-border-radius);
    border-color: #cbcbcb;
    box-shadow: var(--overlay-box-shadow);
    text-shadow: var(--overlay-text-shadow);
    flex: 1;
}

select, textarea {
    padding: 8px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    width: 100%;
}

.time-wrap {
    padding: 0.5em 3em;
    padding-bottom: 0.7em;
    display: flex;
}

.input-label {
    margin-top: 0.5em;
    padding-bottom: 0.2em;
    text-shadow: var(--overlay-text-shadow);
}

.time-wrap h4 {
    margin: 0;
    padding: 0.5em 1em;
    text-shadow: var(--overlay-text-shadow);
}

input[type="time"] {
    border-width: 0.05em;
    border-radius: var(--overlay-element-border-radius);
    border-color: #cbcbcb;
    box-shadow: var(--overlay-box-shadow);
    text-shadow: var(--overlay-text-shadow);
    padding: 0.5em;
}

.textareaContainer {
    border-width: 0.05em;
    border-radius: var(--overlay-element-border-radius);
    border-color: #cbcbcb;
    box-shadow: var(--overlay-box-shadow);
    height: 5em;
    flex: 1;
    display: flex;
    padding-left: 0.5em;
    background-color: #ffffff;
    text-shadow: var(--overlay-text-shadow);
}

.textarea {
    flex: 1;
    margin: auto;

}

.organizer select {
    padding-left: 2em;
    background-color: #ffffff;
}

.organizer i {
    position: absolute;
    padding: 0.5em 0.5em 0.5em 0.65em;
    text-shadow: 0 0 0.4em #5c5c5c;
}

.submit-btn {
    padding: 0.5em 3em;
}

.submit-btn input[type="submit"] {
    margin-top:50px;
    margin-left: 32.5%;
    border-color: #1db1bf;
    padding: 0.5em 1.5em;
    color: #ffffff;
    background-color: #3914AF;
    width:35%

}
.warning{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  height: 40px;
  font-size: 13px;
  white-space: nowrap ;
}
.margin-horiz{
  margin: 0 3rem 0 3rem;
}
.hidden{
  display: none;
}


.calendar {
    $height: 60vh;
    $width: 90%;
    $font-color: #3914AF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__wrapper{
        width: 100%;
    }
    &__table{
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        width: $width;
        height: $height;
    }

    &__column-header{
        font-weight: bold;
        border: none;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: $font-color;
    }
    &__cell_month{
        width: $width / 7;
        height: $height / 5;
        border: 1px solid rgba(130, 130, 255, 0.5);
        font-size: 12px;
        vertical-align: top;
        box-sizing: border-box;
    }
    &__cell_week{
        position: relative;
        width: $width / 7;
        height: $height / 18;
        border: 1px solid rgba(130, 130, 255, 0.5);
        font-size: 12px;
        vertical-align: top;
        box-sizing: border-box;
    }
    @for $i from 2 through 18 {
    .calendar__line_week:nth-child(#{$i}){
            .calendar__cell_week:first-child::before{
                $calc: ($i)+6;
                content: '#{$calc}:00'!important;
                position: absolute;
                border: 1px solid #EAEAFF;
                left: -40px;
                font-size: 12px;
                text-align: center;
                line-height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: ($height / 18);
                color: $font-color;
            }
          }

    }
    &__line_week{
        &:first-child{
            background-color: #3914AF;
            background: #EEEEFF;
            color: #3914AF;
            td{
                text-align: center;
                vertical-align: middle;
                font-weight: bold;
                &:first-child::before{
                    content: ""!important;
                }
            }
        }
    }


    &__header{
        position: relative;
        width: $width;
        display: inline-block;
        text-align: left;
        margin: 20px 0;
        vertical-align: middle;

    }
    &__month-year{
        display: inline-block;
        line-height: 30px;
        font-size: 20px;
        color: #3914AF;
        margin-left: 20px;
    }
    .cell-content__date{
        text-align: center;
    }

   /*
    &__cell_month:first-child::before{
            position: absolute;
            content: 'нечетная';
            font-size: 14px;
            text-align: center;
            line-height: 40px;
            display: block;
            background-color: #ECECFF;
            width: ($height / 5);
            height: 40px;
            transform-origin: 100% 100%;
            transform: rotate(-90deg) translateY(-($height / 5)) translateX(40px);
            color: $font-color;
    }
    &__line_month:nth-child(2n) td:first-child::before{
        background-color: #F5F5FF;
        content: 'четная';
    }
    */

    .viewCalendarSelect{
        line-height: 20px;
        height: 40px;
        padding: 0 20px 0 15px;
        font-size: 17px;
        margin-top: -20px;
        position: absolute;
        right: 0;
        top: 50%;
        /* margin-top: -50%; */
        background: #FFFFFF;
        border: 1px solid #6F47EB;
        box-sizing: border-box;
        border-radius: 4px;
        width: 200px;
    }
}

.events-calendar {
    $height: 20vh;
    $width: 90%;
    $font-color: #3914AF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__wrapper{
        width: 100%;
    }
    &__table{
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        width: $width;
        height: $height;
    }
    &__column-header{
        font-weight: bold;
        border: none;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: $font-color;
    }
    &__cell_month{
        width: $width / 7;
        height: $height / 5;
        border: 1px solid rgba(130, 130, 255, 0.5);
        font-size: 12px;
        vertical-align: top;
        box-sizing: border-box;
    }
    &__cell_month.selected {
      color: white;
      background-color: #3914AF;
      font-weight: bold;
    }
    &__cell_week{
        position: relative;
        width: $width / 7;
        height: $height / 18;
        border: 1px solid rgba(130, 130, 255, 0.5);
        font-size: 12px;
        vertical-align: top;
        box-sizing: border-box;
    }
    &__cell-content__date  {
        background-color:#3914AF;
        color: #F8F6FE;
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }



}
