<template>
<!-- eslint-disable  -->
  <div class="projects">
    <div class="project-filters">
      <div>
      <nuxt-link :to="`project/new`"><button class="btn-icon">Новый проект</button></nuxt-link>
      </div>
      <div style="display: flex; align-items: center;">
        <select name="filters">
        <option value="all">Фильтры</option>
        <option value="idk">Я не знаю</option>
        </select>
        <input type="text" value="">
        <img style = "margin: 4px" height="22" width="22" src="/Grid_layout.svg">
        <img style = "margin: 4px" height="22" width="22" src="/List_layout.svg">
      </div>
    </div>
    <div class="project-filters">
      <div class="filters">
        <span :class="{selected: filter.isAuthorFilter}"  @click="sort('isAuthorFilter')"> Руковожу </span>
        <span :class="{selected: filter.isParticipantFilter}"  @click="sort('isParticipantFilter')"> Участвую </span>
        <span :class="{selected: filter.isFavoriteFilter}"  @click="sort('isFavoriteFilter')"> Избранное </span>
      </div>
      <div class="filters">
       <span :class="{selected: filter.isRunningFilter}"  @click="sort('isRunningFilter')"> В разработке </span>
       <span :class="{selected: filter.isStoppedFilter}"  @click="sort('isStoppedFilter')"> Отложены </span>
       <span :class="{selected: filter.isFinishedFilter}"  @click="sort('isFinishedFilter')"> Звершены </span>
      </div>
    </div>
    <div class="project-table">
      <table cellspacing="0">
        <tr>
          <th> </th>
          <th v-show="false">Инфо</th>
          <th>Название проекта / переход в журнал</th>
          <th>Модификация</th>
          <th>Последние изменения</th>
          <th></th>
        </tr>
        <template v-if="projectTable.length > 0">
        <tr v-for="project in projectTable" :key="project.id_project" class="border_bottom">
          <td v-if="showSelection">
          <input
          style="margin-bottom: 0;"
          type="checkbox"
          name=""
          v-model="picked_project"
          :value="project"
          :id="project.id_project">
          <label :for="project.id_project"> <span></span> </label>
          </td>
          <td class="empty" v-else> </td>
          <td  v-show="false"> icon </td>
          <td @mouseover="hovered = project.id_project" @mouseleave="hovered = null">
            <nuxt-link :to="`project/workbook/${project.id_project}`" >
            {{ project.title }}
            </nuxt-link>
          </td>
          <td class="center">
           {{ project.name_rev}}
          </td>
          <td class="hoverable flex-row">
            <div style="margin-right: 5px">
             <Tooltip v-if="Object.keys(project.actions).length !== 0" :text="project.actions.for_publ + ' на публикацию' + '<br>' + project.actions.for_moderation + ' на модерацию'" >{{project.actions.for_publ + project.actions.for_moderation}}</Tooltip>
            <span v-else></span>
            </div>
            <div class="smaller">
            {{ project.last_changed }} <br/>
            {{ project.last_changed_author }}
            </div>
          </td>
          <td style="width: 20%">
            <div class="flex-row space">
              <Tooltip text="О проекте">
              <nuxt-link :to="`project/about_project/${project.id_project}`" :project="project">
              <img height="18"  src="/Summary.svg">
              </nuxt-link>
              </Tooltip>
              <Tooltip text="Статистика">
              <nuxt-link :to="`project/statistics/${project.id_project}`">
              <img height="23" src="/Statistics.svg">
              </nuxt-link>
              </Tooltip>
              <Tooltip text="Убрать из избранного"  v-if="project.is_favorites">
              <img height="23" src="/Icon_star_solid.svg" @click="makeNotFavorite(project)"  v-if="project.is_favorites">
              </Tooltip>
              <Tooltip text="Добавить в избранное"    v-if="!project.is_favorites">
              <img height="23" src="/Icon_star_outline.svg" @click="makeFavorite(project)" v-if="!project.is_favorites">
              </Tooltip>
              <div class="menu-h">
              <img height="20" src="/Menu.svg">
              <span class="menu-list" @click="deleteProject(project)"> Удалить проект </span>
              </div>
            </div>
          </td>
        </tr>
        </template>
        <template v-else>
          <tr>
            Ничего не нашлось
          </tr>
        </template>
      </table>
    </div>
    <div v-if="picked_project.length > 0">
      <button @click="deleteSeveralProjects">Удалить проекты</button>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import { mapGetters } from 'vuex'
import Tooltip from '../../components/Tooltip'
export default {
  data () {
    return {
      hovered: null,
      title: 'Проекты',
      picked_project: [],
      showSelection: false,
      filter: {
        isAuthorFilter: true,
        isParticipantFilter: false,
        isFavoriteFilter: false,
        isFinishedFilter: false,
        isStoppedFilter: false,
        isRunningFilter: false
      }
    }
  },
  components: {
    Tooltip
  },
  methods: {
    overlayToggle (id) {
      this.projects.find(a => a.id_project === id).overlay = !this.projects.find(a => a.id_project === id).overlay
    },
    makeNotFavorite (project) {
      this.$store.dispatch('project/unFaveProject', project)
    },
    makeFavorite (project) {
      this.$store.dispatch('project/faveProject', project)
    },
    deleteProject (project) {
      this.$store.dispatch('project/deleteProject', project)
    },
    deleteSeveralProjects () {
      this.picked_project.forEach(element => this.$store.dispatch('project/deleteProject', element))
      this.picked_project = []
    },
    showMenu (id) {
      this.projects.find(a => a.id_project === id).menu = true
    },
    hideMenu (id) {
      this.projects.find(a => a.id_project === id).menu = false
    },
    sort (f) {
      this.filter[f] = !this.filter[f]
      for (const key in this.filter) {
        if (key === f) {
          continue
        }
        this.filter[key] = false
      }
    }
  },
  computed: {
    ...mapGetters({
      projects: 'project/getProjects',
      favProjects: 'project/getFavProjects',
      authorProjects: 'project/authorProjects',
      participantProjects: 'project/participantProjects',
      finishedProjects: 'project/finishedProjects',
      stoppedProjects: 'project/stoppedProjects',
      runningProjects: 'project/runningProjects'
    }),
    projectTable () {
      if (this.filter.isFavoriteFilter) {
        return this.favProjects
      } else if (this.filter.isAuthorFilter) {
        return this.authorProjects
      } else if (this.filter.isFinishedFilter) {
        return this.finishedProjects
      } else if (this.filter.isRunningFilter) {
        return this.runningProjects
      } else if (this.filter.isParticipantFilter) {
        return this.participantProjects
      } else if (this.filter.isStoppedFilter) {
        return this.stoppedProjects
      } else {
        return this.projects
      }
    }
  },
  async fetch ({ store, params, from }) {
    if (from.name !== 'project-new') {
      await store.dispatch('project/loadData')
    }
  },
  layout: 'olimp'
}
</script>
<style>
.space {
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
}
.empty {
  border: 1px solid red;
  width: 40px;
  height: 40px;
}
.hoverable {
  position: relative;
}
.overlay {
  background-color: #fff;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.menu-h {
  position: relative;
  display: inline-block;
}
.menu-h:hover .menu-list {
  opacity: 1;
}

.menu-list {
  position: absolute;
  width: 120px;
  bottom: 120%;
  left: -30px;
  z-index: 5;
  opacity: 0;
  background-color: white;
  margin-left: -60px;
}
.overlay button {
  width: 45%;
  background-color: white;
  height: 90%;
}

.projects-table {
  display: flex;
}

li {
  list-style: none;
}
h2 {
  margin: 0;
  margin: 0 0 20px;
}
input {
  margin-top: 0;
}
input[type=text] {
  margin-top: 0px !important;
  margin: 0 5px;
  padding: 5px !important;
}
.projects {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

table {
  color: #3914AF;
  width: 100%;
}

th {
  font-size: 14px;
  border-bottom: 2px solid #3914AF;
  background-color: #F5F5FF;
}
.center {
  display: table-cell;
  text-align: center;
}

.smaller {
  font-size: 14px;
}

.filters {
  border-bottom: 1px solid #3914AF;
  margin: 10px 0;
}

.filters span {
  padding: 0 5px;
}

.selected {
  border-bottom: 2px solid #3914AF;
}

.project-filters {
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-icon {
  height: 40px;
  background: transparent;
  border: 1px solid #3914AF;
}

tr {
  height: 40px;
}

td {
  padding: 5px;
  border-bottom: 1px solid #C0B0F5;
}

</style>
